@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
html,body{
    display: grid;
    height: 100%;
    place-items: center;
    background: #0069d9;
}
.wrapper{
    height: 100px;
    width: 400px;
    border-radius: 5px;
    background: #fff;
    display: flex;
    padding: 20px 15px;
    align-items: center;
    justify-content: space-evenly;
}
.wrapper .option{
    background: #fff;
    height: 100%;
    width: 100%;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: all0.3s ease;
}
#option-1:checked~ .option-1,
#option-2:checked~ .option-2 {
    border-color: #0069d9;
    background: #0069d9;
}
.wrapper .option .dot{
     height: 20px;
     width: 20px;
     background: #d9d9d9;
     border-radius: 50%;
     position: relative;
     transition: all0.3s ease;
}
#option-1:checked~ .option-1 .dot,
#option-2:checked~ .option-2 .dot{
    background: #fff;
}
.wrapper .option .dot::before{
    position: absolute;
    content:"";
    left: 4px;
    top: 4px;
    height: 12px;
    width: 12px;
    background: #0069d9;
     border-radius: 50%;
     opacity: 0;
     transform: scale(1.5);
     transition: all0.3s ease;
}
#option-1:checked~ .option-1 .dot::before,
#option-2:checked~ .option-2 .dot::before{
    opacity: 1;
    transform: scale(1);
}
.wrapper .option span{
    color: #808080;
    font: 20px;
}
#option-1:checked~ .option-1 span,
#option-2:checked~ .option-2 span{
    color: #808080;
}
.wrapper input[type="radio"]{
    display: none;
}