@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    background: #ff676d;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    max-width: 400px;
    width: 100%;
}
.box .Sreach-box{
    position: relative;
    height: 50px;
    max-width: 50px;
     margin: auto;
     box-shadow: 0 5px 10px rgba(0,0,0,0.25);
     border-radius: 25px;
     transition: all 0.3s ease;
}
#check:checked~ .Sreach-box{
    max-width: 380px;
}
.Sreach-box input{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    background: #fff;
    outline: none;
    border: none;
    padding-left: 20px;
    font-size: 18px;
}
.Sreach-box .icon{
    position: absolute;
    right:-2px; 
    top: 0;
    width: 50px;
    background: #fff;
    height: 100%;
    text-align: center;
    line-height: 50px;
    color: #ff676d;
    font-size: 20px;
    border-radius: 25px;
}
#check:checked~ .Sreach-box .icon{
    background: #ff676d;
    color: #fff;
    width: 60px;
    border-radius: 0 25px 25px 0;
}
#check{
    display: none;
}